In [1]:
import pandas as pd
import folium

In [3]:
all_clean = pd.read_csv('./input/all_clean.csv')

In [10]:
city_count = all_clean.groupby(['city']).count()
city_sorted = city_count.sort_values(['tech_startups'], ascending=[False])

In [11]:
city_sorted['tech_startups']

city
New York               52
San Francisco          52
Seattle                10
Boston                  6
Chicago                 5
Paris                   5
Toronto                 5
Mountain View           4
Palo Alto               4
Los Angeles             4
London                  3
Boulder                 3
Bellevue                3
Montreal                3
Reston                  2
Redwood City            2
Sydney                  2
Menlo Park              2
Amsterdam               2
Copenhagen              2
Berlin                  2
Corte Madera            2
Colorado Springs        1
Birmingham              1
Sunnyvale               1
Stockholm               1
Singapore               1
Budapest                1
Santa Monica            1
Santa Clara             1
San Mateo               1
San Jose                1
Cambridge               1
Lancaster               1
Honolulu                1
Pittsburgh              1
Emeryville              1
Olpe                    1
Glen Cove               1
New Delhi               1
Natick                  1
Greenbelt               1
Barcelona               1
Halifax                 1
Melbourne, Victoria     1
Waterloo                1
Name: tech_startups, dtype: int64